@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.status-border {
  border: 2px solid black;
}

.status-border.status-pendingYellow {
  border-color: #eebc3c;
}

.status-border.status-acceptedBlue {
  border-color: #2659c3;
}

.status-border.status-rejectedRed {
  border-color: #d20d3c;
}
.status-border.status-completedGreen {
  border-color: #5e9c1b;
}
.rdrDefinedRangesWrapper {
  display: none;
}

.rdrMonth{
  width: 18rem;
  padding:none;
}
.rdrMonthAndYearWrapper{
  padding-top:0;
}
.rdrDateRangePickerWrapper{
  width:18rem;
}